<div class="container-fluid">
  <div class="row welcome-header clearfix">
    <div class="col-lg-6 col-sm-12" id="sitter-swap-logo">
      <h1>SitterSwap</h1>
    </div>
    <div class="col-lg-6 col-sm-12" id="welcome-header-links">
      <%= link_to 'About', about_path %>
      <%= link_to 'Join', new_person_path %>
      <%= link_to 'Log In', login_path %>
    </div>
  </div>
</div>
<h1>Log In</h1>
<div class="container-fluid">
  <%= form_for @person, url: '/sessions' do |f| %>
    <div class="row" id="log-in-container">
      <div class="col-sm-12">
        <p>Email</p><%= f.email_field :email, placeholder: 'Email'%> <p>Password</p><%= f.password_field :password, placeholder: 'Password' %> <%= f.submit 'Submit', class: 'btn btn-default'%></div>
      </div>
    </div>
  <% end %>
</div>
