<div class="container-fluid">
  <div class="row welcome-header clearfix">
    <div class="col-lg-6 col-sm-12" id="sitter-swap-logo">
      <h1>SitterSwap</h1>
    </div>
    <div class="col-lg-6 col-sm-12" id="welcome-header-links">
      <%= link_to 'About', about_path %>
      <%= link_to 'Join', new_person_path %>
      <%= link_to 'Log In', login_path %>
    </div>
  </div>
</div>

<div class="container-fluid" id="log-in-container">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="form-group">
        <h1>Log In</h1>
        <%= form_for @person, url: '/sessions' do |f| %>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="form-group">
            <p>Email</p>
            <%= f.email_field :email %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="form-group">
            <p>Password</p>
            <%= f.password_field :password %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="form-group">
            <%= f.submit 'Log In' %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
