<%= form_for(person) do |f| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container-fluid form-container">
  <div class="row">
    <div class="col-md-6 col-md-offset-2 col-sm-12">
      <div class="field">
        <strong><%= f.label :first_name %></strong>
        <%= f.text_field :first_name %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-2 col-sm-12">
      <div class="field">
        <stong><%= f.label :last_name %><strong>
        <%= f.text_field :last_name %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-2 col-sm-12">
      <div class="field">
        <strong><%= f.label :phone_number %></strong>
        <%= f.text_field :phone_number %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-2 col-sm-12">
      <div class="field">
        <strong><%= f.label :city %></strong>
        <%= f.text_field :city %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-2 col-sm-12">
      <div class="field">
        <strong><%= f.label :email %></strong>
        <%= f.text_field :email %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-2 col-sm-12">
      <div class="field">
        <strong><%= f.label :password %></strong>
        <%= f.password_field :password %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-2 col-sm-12">
      <div class="actions">
        <%= f.submit "Sign Up", class: "btn btn-default btn-submit" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
