<div class="container-fluid">
  <div class="row welcome-header clearfix">
    <div class="col-lg-6 col-sm-12" id="sitter-swap-logo">
      <h1>SitterSwap</h1>
    </div>
    <div class="col-lg-6 col-sm-12" id="welcome-header-links">
      <%= link_to 'Log In', login_path %>
      <%= link_to 'Join', new_person_path %>
      <%= link_to 'About', about_path %>
      <%= link_to 'Home', root_path %>
    </div>
  </div>
</div>
<div class="container-fluid form-container">
  <div class="log-in-header login-header-title">
    <h1>Join SitterSwap</h1>
  </div>
</div>
<%= render 'form', person: @person %>
