<div class="container-fluid">
  <div class="row welcome-header clearfix">
    <div class="col-lg-6 col-sm-12" id="sitter-swap-logo">
      <h1>SitterSwap</h1>
    </div>
    <div class="col-lg-6 col-sm-12" id="welcome-header-links">
      <!-- TODO add links to profile sections -->
      <%= link_to 'Log Out', logout_path %>
      <%= link_to 'About', about_path %>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1>Add a Sitter</h1>
    </div>
  </div>
</div>
<div class="container-fluid">
  <%= form_for @sitter, url: '/people/sitters/', method: "post" do |f| %>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="field">
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="field">
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="field">
        <%= f.label :phone_number %>
        <%= f.text_field :phone_number %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="field">
        <%= f.label :city %>
        <%= f.text_field :city %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
  </div>
  <% end %>
</div>
