<div class="container-fluid">
  <div class="row welcome-header clearfix">
    <div class="col-lg-6 col-sm-12" id="sitter-swap-logo">
      <h1>SitterSwap</h1>
    </div>
    <div class="col-lg-6 col-sm-12" id="welcome-header-links">
      <%= link_to 'Log Out', logout_path %>
      <%= link_to 'About', about_path %>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <center><h1>Welcome <%= @person.first_name %> <%= @person.last_name %></h1></center>
      <p id="notice"><%= notice %></p>
    </div>
  </div>
</div>
<section id="my-family-section" class="clearfix">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <!-- list family friends -->
        <h3><strong>My Family</strong></h3>
        <ul>
          <% Family.joins(:family_people).where('family_people.person_id': @person.id).where('family_people.role': "caregivers").each do |family| %>
            <li><strong>Family Name: </strong><%= link_to family.family_name, '/families/' + family.id.to_s %></li>
          <% end %>
        </ul>
        <h3><strong>My Friends</strong></h3>
        <p>Connect with your friends' families and find more sitters.</p>
          <% Family.joins(:family_people).where('family_people.person_id': @person.id).where('family_people.role': "friends").each do |family| %>
            <li><strong>Family: </strong><%= link_to family.family_name, '/families/' + family.id.to_s %></li>
          <% end %>
        <h3><strong>My Sitters</strong></h3>
        <ul>
          <% Person.joins(:family_people).where('family_people.person_id': @person.id).where('family_people.role': "sitters").each do |person| %>
            <li><strong>Sitter: </strong><%= link_to person.first_name, '/people/' + person.id.to_s %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="directions-sections" class="clearfix">
  <div class="container-fluid">
    <center><h2>How to Connect</h2></center>
    <center><p>Find the families &amp people that make SitterSwap so great!</p></center
    <div class="row">
      <div class="col-sm-8 family-person-directions">
          <!-- create new family -->
          <li><strong>FIRST:</strong> Create a profile for your family. Start here: <%= link_to 'New Family', new_family_path %></li>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8 family-person-directions">
          <!-- link to a family -->
          <li><strong>NEXT:</strong> Make sure you link to your new family profile. Click here: <%= link_to 'Select Family', family_people_search_path %></li>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 family-person-directions">
          <!-- link to a family -->
          <li><strong>THEN:</strong> Connect with your friends on our search page. (Make sure you know the family name they used.) <%= link_to 'Find Friend', family_people_search_path %></li>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 family-person-directions">
          <!-- link to a family -->
          <li><strong>DON'T FORGET THE SITTERS:</strong> Search for your sitter by their email address and connect! <%= link_to 'Find Your Sitters', family_people_search_path %></li>
      </div>
    </div>
  </div>
</section>
<section id="my-profile-section">
  <div id="my-family-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <center><h2>My Profile</h2></center>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <p>
            <strong>Name:</strong>
            <%= @person.first_name %> <%= @person.last_name %>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <p>
            <strong>Phone number:</strong>
            <%= @person.phone_number %>
          </p>
        </div>
        <div class="col-sm-6">
          <p>
            <strong>City:</strong>
            <%= @person.city %>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <p>
            <strong>Email:</strong>
            <%= @person.email %>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
