<h1>Welcome <%= current_person.first_name %> <%= current_person.last_name %></h1>

<h2>Your Family</h2>


  <div class="add-family-button">
    <%= link_to 'Create Your Family', new_family_path(@person) %>
  </div>

  <div class="link-your-family-button">
    <%= link_to 'Link Your Family', families_path(@person) %>
  </div>

  <div class="connect-family-button">
    <%= link_to 'Connect With Friends', families_path %>
  </div>

<div class="log-out-button">
  <%= link_to 'Log Out', logout_path(@person) %>
</div>

<p id="notice"><%= notice %></p>

<div class="profile-image">
  <%= image_tag("http://i.imgur.com/vZpEGd7.jpg", class: "profile-image", alt: "sitter-swap-connects-families") %>
</div>

<p>
  <strong>First name:</strong>
  <%= current_person.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= current_person.last_name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= current_person.phone_number %>
</p>

<p>
  <strong>City:</strong>
  <%= current_person.city %>
</p>

<p>
  <strong>Email:</strong>
  <%= current_person.email %>
</p>

<%= link_to 'Edit', edit_person_path(current_person) %>
