<div class="container-fluid">
  <div class="row welcome-header clearfix">
    <div class="col-lg-6 col-sm-12" id="sitter-swap-logo">
      <h1>SitterSwap</h1>
    </div>
    <div class="col-lg-6 col-sm-12" id="welcome-header-links">
      <!-- TODO add links to profile sections -->
      <%= link_to 'Log Out', logout_path %>
      <%= link_to 'About', about_path %>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <center><h1>Welcome <%= current_person.first_name %> <%= current_person.last_name %></h1></center>
      <p id="notice"><%= notice %></p>
    </div>
  </div>
</div>
<section id="my-family-section">
  <div class="clearfix">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <center><h2>My Family Relationships</h2></center>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <!-- List of families -->
          <!-- TODO needs to be only caregivers role -->
          <ul class=>
            <% current_person.families.each do |family| %>
              <li><strong>Family Name: </strong><%= link_to family.family_name, '/families/' + family.id.to_s %> | <% current_person.family_people.each do |person| %>
                <% end %>
            <% end %>
          </ul>
        </div>
      </div>
      <h3>Don't see your family listed?</h3>
      <div class="row">
        <div class="col-sm-12 family-person-directions">
          <ul>
            <!-- create new family -->
            <li><strong>FIRST:</strong> Create a family profile. Click here: <%= link_to 'New Family', new_family_path %></li>
            <!-- link to a family -->
            <li><strong>NEXT:</strong> Select the family as yours. Click here: <%= link_to 'Select Family', family_people_search_path %></li>
          </ul>
        </div>
      </div>
      <h3>Want to connect to other families?</h3>
      <div class="row">
        <div class="col-sm-12 family-person-directions">
          <ul>
            <!-- link to a family -->
            <li><strong>NEXT:</strong> Select the family as your <i>friend</i> on our search page. You can do that here: <%= link_to 'Find Friend', family_people_search_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="my-profile-section">
  <div id="my-family-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <center><h2>My Profile</h2></center>
          <center><%= link_to 'Edit', edit_person_path(current_person) %></center>
          <center><%= link_to 'Delete Profile', edit_person_path(current_person) %></center>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          &nbsp;
        </div>
        <div class="col-md-6 col-sm-12">
          <p>
            <strong>Name:</strong>
            <%= current_person.first_name %> <%= current_person.last_name %>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          &nbsp;
        </div>
        <div class="col-md-4 col-sm-4">
          <p>
            <strong>Phone number:</strong>
            <%= current_person.phone_number %>
          </p>
        </div>
        <div class="col-md-4 col-sm-4">
          <p>
            <strong>City:</strong>
            <%= current_person.city %>
          </p>
        </div>
        <div class="row">
          <div class="col-md-2">
            &nbsp;
          </div>
          <div class="col-md-6 col-sm-12">
            <p>
              <strong>Email:</strong>
              <%= current_person.email %>
            </p>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
