<h1>Welcome <%= current_person.first_name %> <%= current_person.last_name %></h1>

<!-- create new family -->
<div class="new-family-button">
  <h3>Make a family profile</h3> <%= link_to 'New Family', new_family_path %>
</div>

<h3>My Family</h3>
<p>Select your family so you can see it here!</p>
<div class="select-family-button">
  <%= link_to 'Select Family', family_people_search_path %>
</div>

<div class="log-out-button">
  <%= link_to 'Log Out', logout_path(@person), class: "btn btn-default" %>
</div>

<p id="notice"><%= notice %></p>

<div class="profile-image">
  <%= image_tag("http://i.imgur.com/vZpEGd7.jpg", class: "profile-image", alt: "sitter-swap-connects-families") %>
</div>

<p>
  <strong>First name:</strong>
  <%= current_person.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= current_person.last_name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= current_person.phone_number %>
</p>

<p>
  <strong>City:</strong>
  <%= current_person.city %>
</p>

<p>
  <strong>Email:</strong>
  <%= current_person.email %>
</p>

<%= link_to 'Edit', edit_person_path(current_person) %>
