<%= form_for(family) do |f| %>
  <% if family.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(family.errors.count, "error") %> prohibited this family from being saved:</h2>

      <ul>
      <% family.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container-fluid form-container">
    <div class="row">
      <div class="col-md-6 col-md-offset-2 col-sm-12">
        <div class="field">
          <strong><%= f.label :family_name %></strong>
          <%= f.text_field :family_name, placeholder: 'Create a family name' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-2 col-sm-12">
        <div class="actions">
          <%= f.submit 'Submit', class: "btn btn-default btn-submit" %>
        </div>
      </div>
    </div>
<% end %>
