<div class="container-fluid">
  <div class="row welcome-header clearfix">
    <div class="col-lg-6 col-sm-12" id="sitter-swap-logo">
      <h1>SitterSwap</h1>
    </div>
    <div class="col-lg-6 col-sm-12" id="welcome-header-links">
      <%= link_to 'Log Out', logout_path %>
      <%= link_to 'About', about_path %>
      <%= link_to 'Home', root_path %>
      <%= link_to 'Profile', person_path(current_person) %>
    </div>
  </div>
</div>
<div class="container-fluid form-container">
  <div class="log-in-header login-header-title">
    <h1>New Family</h1>
  </div>
</div>
<%= render 'form', family: @family %>
