<div class="container-fluid">
  <div class="row welcome-header clearfix">
    <div class="col-lg-6 col-sm-12" id="sitter-swap-logo">
      <h1>SitterSwap</h1>
    </div>
    <div class="col-lg-6 col-sm-12" id="welcome-header-links">
      <%= link_to 'Log Out', logout_path %>
      <%= link_to 'About', about_path %>
      <%= link_to 'Home', root_path %>
    </div>
  </div>
</div>

<h1>New Family</h1>

<!-- TODO directions for creating a family profile -->

<%= render 'form', family: @family %>

<%= link_to 'Back', families_path %>
