<div class="container-fluid">
  <div class="row welcome-header clearfix">
    <div class="col-lg-6 col-sm-12" id="sitter-swap-logo">
      <h1>SitterSwap</h1>
    </div>
    <div class="col-lg-6 col-sm-12" id="welcome-header-links">
      <%= link_to 'Log Out', logout_path %>
      <%= link_to 'About', about_path %>
      <%= link_to 'Home', root_path %>
      <%= link_to 'Profile', person_path(current_person) %>
    </div>
  </div>
</div>
<div class="container-fluid form-container">
  <div class="log-in-header login-header-title">
    <h1>Family Profile</h1>
    <p id="notice"><%= notice %></p>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <p>
        <strong>Family name:</strong>
        <%= @family.family_name %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <% @family.people.each do |person| %>
        <p><strong>Name: </strong><%= person.first_name + " " + person.last_name %>  <%= link_to 'Profile', '/people/' + person.id.to_s %></p>
      <% end %>
    </div>
  </div>
</div>
