<div class="container-fluid">
  <div class="row welcome-header clearfix">
    <div class="col-lg-6 col-sm-12" id="sitter-swap-logo">
      <h1>SitterSwap</h1>
    </div>
    <div class="col-lg-6 col-sm-12" id="welcome-header-links">
      <%= link_to 'Log Out', logout_path %>
      <%= link_to 'About', about_path %>
      <%= link_to 'Home', root_path %>
      <%= link_to 'Profile', person_path(current_person) %>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-6">
        <center>
          <div class="log-in-header">
            <h1>Family Details</h1>
            <p id="notice"><%= notice %></p>
          </div>
          <p>
            <strong>Family name:</strong>
            <%= @family.family_name %>
          </p>
          <p><strong>Parents:</strong></p>
            <% Person.joins(:family_people).where('family_people.family_id': @family.id).where('family_people.role': "caregivers").each do |person| %>
              <li><strong>Name: </strong><%=link_to person.first_name + " " + person.last_name, '/people/' + person.id.to_s %></li>
            <% end %>
          <div id="profile-page-link">
            <%= link_to 'Profile', person_path(current_person) %>
          </div>
        </center>
      </div>
      <div class="col-lg-6">
        <center>
          <div class="log-in-header">
            <h1>Family Sitters</h1>
            <p id="notice"><%= notice %></p>
          </div>
          <% Person.joins(:family_people).where('family_people.family_id': @family.id).where('family_people.role': "sitters").each do |person| %>
            <li><strong>Name: </strong><%=link_to person.first_name + " " + person.last_name, '/people/' + person.id.to_s %></li>
            <% end %>
        </center>
      </div>
    </div>
  </div>
</div>
