<h1>Show Family</h1>
<p id="notice"><%= notice %></p>

<!-- <%= link_to "Add a Sitter", new_family_person_path  %>
<%= link_to "New Person", new_person_path %> -->

<p>
  <strong>Family name:</strong>
  <%= @family.family_name %>
</p>

<div class="container-fldui">
  <div class="row">
    <div class="col-sm-12">
      <ul>
        <% @family.people.each do |person| %>
          <li><strong>Name: </strong><%= person.first_name + " " + person.last_name %><%= link_to 'Profile', '/people/' + person.id.to_s %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_family_path(@family) %> |
<%= link_to 'Back', families_path %>
