<div class="container-fluid">
  <div class="row welcome-header clearfix">
    <div class="col-sm-12" id="sitter-swap-logo">
      <h1>SitterSwap</h1>
    </div>
    <div class="col-sm-12" id="welcome-header-links">
      <%= link_to 'About', about_path %>
      <%= link_to 'Join', new_person_path %>
      <%= link_to 'Log In', login_path %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h2><center>The best sitter is one that's been tested by a trusted friend.</center></h2>
    <div class="about-image">
      <center><%= image_tag("http://i.imgur.com/7b0iz6H.jpg?1", class: "about-image", alt: "sitter-swap-connects-families") %></center>
    <h2>Why SitterSwap?</h2>
    <p>There are lots of options out there if you want to wade through profile after profile of potential sitters. But those large, inpersonal child care websites mean you lose time interviewing a series of strangers who may or may not turn out to be great sitters.</p>
    <p>SitterSwap lets families connect to find the best child care for their little ones. It takes away the guessing game about who a sitter is and expands your pool of child care options.</p>
  </div>
</div>
<div class="container-fluid">
  <div class="row how-it-works clearfix">
    <div class="col-md-6 col-sm-12">
      <h2>How It Works</h2>
      <ul>
        <li>Join SitterSwap.</li>
        <li>Create a family profile.</li>
        <li>List your sitters.</li>
        <li>Link to your friends.</li>
        <li>Contact your friends' sitters too.</li>
      </ul>
      <p>It's that easy!</p>
      <p>Sitters</p>
      <ul>
        <li>Join SitterSwap.</li>
        <li>Connect to the families you work with.</li>
        <li>Those families and their friends can email you about a job anytime.</li>
      </ul>
      <p>You'll get more work and great references!</p>
    </div>
    <div class="col-md-6 col-sm-12" id="how-it-works-img">
      <%= image_tag("http://i.imgur.com/VxoZQqP.jpg?1", class: "chalk-image", alt: "sitter-swap-connects-families") %>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row welcome-header">
    <div class="col-sm-12" id="welcome-header-links">
      <%= link_to 'Join', new_person_path %>
      <%= link_to 'Log In', login_path %>
    </div>
  </div>
</div>
