<div class="container-fluid">
  <div class="row welcome-header clearfix">
    <div class="col-lg-6 col-sm-12" id="sitter-swap-logo">
      <h1>SitterSwap</h1>
    </div>
    <div class="col-lg-6 col-sm-12" id="welcome-header-links">
      <%= link_to 'About', about_path %>
      <%= link_to 'Join', new_person_path %>
      <%= link_to 'Log In', login_path %>
    </div>
  </div>
</div>
<h2>The best sitter is one that's been tested by a trusted friend.</h2>

<div class="about-image">
  <%= image_tag("http://i.imgur.com/7b0iz6H.jpg?1", class: "about-image", alt: "sitter-swap-connects-families") %>
</div>

<h2>Why SitterSwap?</h2>

<p>There are lots of options out there if you want to wade through profile after profile of potential sitters. But those large, impersonal child care websites mean you lost time interviewing a series of strangers who may or may not turn out to be great sitters.</p>

<p>SitterSwap lets families connect to find the best child care for their little ones. It takes away the guessing game about who a sitter is and expands your pool of child care options.</p>

<h2>How It Works</h2>

<p>Families</p>
<ul>
  <li>Join SitterSwap.</li>
  <li>Add your family information.</li>
  <li>Link to your sitters.</li>
  <li>Link to your friends.</li>
  <li>Contact your friends' sitters too.</li>
</ul>

<p>It's that easy!</p>

<p>Sitters</p>
<ul>
  <li>Join SitterSwap.</li>
  <li>Spread the word about SitterSwap to the families you work with.</li>
  <li>Families you work with and their friends can email you about a job anytime.</li>
</ul>

<p>You'll get more work and great references!</p>

<h2>Join SitterSwap: </h2>
  <%= link_to 'Join', new_person_path %>
<h2>Already a member? Log in: </h2>
  <%= link_to 'Log In', login_path %>
