<div class="container-fluid">
  <div class="row welcome-header clearfix">
    <div class="col-lg-6 col-sm-12" id="sitter-swap-logo">
      <h1>SitterSwap</h1>
    </div>
    <div class="col-lg-6 col-sm-12" id="welcome-header-links">
      <%= link_to 'About', about_path %>
      <%= link_to 'Join', new_person_path %>
      <%= link_to 'Log In', login_path %>
    </div>
  </div>
</div>

<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <div class="about-image">
        <center><%= image_tag("http://i.imgur.com/XmsjQeP.jpg?2", class: "about-image", alt: "sitter-swap-connects-families") %></center>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row sitter-swap-tagline">
    <div class="col-lg-12 col-sm-12">
      <h2><center>Connecting Families With Trusted Child Care</center></h2>
    </div>
  </div>
</div>

<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-md-6 md-offset-4">
      <h2>Find out more: </h2>
        <%= link_to 'About', about_path %>
      <h2>Join SitterSwap: </h2>
        <%= link_to 'Join', new_person_path %>
      <h2>Already a member? Log in: </h2>
        <%= link_to 'Log In', login_path %>
    </div>
  </div>
</div> -->
