<div class="container-fluid">
  <%= form_for @person do |f| %>
    <div class="row">
      <div class="col-sm-12">
        <div class="field">
          <%= f.label :first_name %>
          <%= f.text_field :first_name %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="field">
          <%= f.label :last_name %>
          <%= f.text_field :last_name %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="field">
          <%= f.label :phone_number %>
          <%= f.text_field :phone_number %>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="field">
          <%= f.label :city %>
          <%= f.text_field :city %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="field">
          <%= f.label :email %>
          <%= f.text_field :email %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="field">
          <%= f.label :password %>
          <%= f.text_field :password %>
        </div>
      </div>
    </div>
    <div class="actions">
      <%= button_to "Save Sitter", family_people_create_path, params: {role: "sitters", family_id: result.id}, form_class: "new-thing" %>
    </div>
    <% end %>
</div>
