<h1>Select Your Family</h1>

<p>Search by Family Name</p>
<small>For example, Doe for John Doe</small>

<%= form_tag("/family_people/search", method: "get") do %>
  <%= label_tag(:q, "Search for a family") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<p>Search Results</p>
<ul>
  <%= @results.each do |result| %>
    <li>
      <%= link_to '/families/' + result.id.to_s %>
    </li>
  <% end %>
</ul>
