<div class="container-fluid">
  <div class="row welcome-header clearfix">
    <div class="col-lg-6 col-sm-12" id="sitter-swap-logo">
      <h1>SitterSwap</h1>
    </div>
    <div class="col-lg-6 col-sm-12" id="welcome-header-links">
      <!-- TODO add links to profile sections -->
      <%= link_to 'Log Out', logout_path %>
      <%= link_to 'About', about_path %>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row search-page-header">
    <div class="col-sm-12">
      <center>
        <h1>Search Page</h1>
        <p>Find the families &amp people that make SitterSwap so great!</p>
      </center>
    </div>
  </div>
</div>
<!-- search and results to select a caregivers family -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <p>Search by the <i>family name</i>, usually the surname. For example, Doe for John Doe.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" id="search-bar">
      <%= form_tag("/family_people/search", method: "get") do %>
        <%= label_tag(:q, "Search for a family") %>
        <%= text_field_tag(:q) %>
        <%= submit_tag("Search") %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <p>Search Results:</p>
      <hr>
      <ul>
        <% @results.each do |result| %>
          <li>
            <%= link_to result.family_name, '/families/' + result.id.to_s, role: "caregivers" %>
            <div class="actions">
              <%= button_to "Parent", family_people_create_path, params: {role: "caregivers", family_id: result.id}, form_class: "new-thing" %>
            </div>
            <div class="actions">
              <%= button_to "Friend", family_people_create_path, params: {role: "friends", family_id: result.id}, form_class: "new-thing" %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Search for a person by <i>email</i>. For example, name@example.com.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" id="search-bar">
      <%= form_tag("/family_people/search", method: "get") do %>
        <%= label_tag(:q, "Search for a person") %>
        <%= text_field_tag(:q) %>
        <%= submit_tag("Search") %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <p>Search Results:</p>
      <hr>
      <ul>
        <% @sitters.each do |sitter| %>
          <li>
            <%= link_to sitter.first_name + sitter.last_name, '/people/' + sitter.id.to_s, role: "sitters" %>
            <div class="actions">
              <%= button_to "Confirm Sitter", family_people_create_path, params: {role: "sitters", person_id: sitter.id}, form_class: "new-thing" %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
</div>
