<div class="container-fluid">
  <div class="row welcome-header clearfix">
    <div class="col-lg-6 col-sm-12" id="sitter-swap-logo">
      <h1>SitterSwap</h1>
    </div>
    <div class="col-lg-6 col-sm-12" id="welcome-header-links">
      <!-- TODO add links to profile sections -->
      <%= link_to 'Log Out', logout_path %>
      <%= link_to 'About', about_path %>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <h1>Search Page</h1>
      <p>Find the families &amp; people that make SitterSwap so great!</p>
    </div>
  </div>
</div>
<!-- search and results to select a caregivers family -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <h2>Select Your Family</h2>
      <small>Search by your <i>family name</i>, usually the surname. For example, Doe for John Doe.</small>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <%= form_tag("/family_people/search", method: "get") do %>
        <%= label_tag(:q, "Search for a family") %>
        <%= text_field_tag(:q) %>
        <%= submit_tag("Search") %>
      <% end %>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <p>Did you find your family? If so, click <i>confirm family</i>.</p>
        <!-- TODO if results else hide -->
      <ul>
        <% @results.each do |result| %>
          <li>
            <%= link_to result.family_name, '/families/' + result.id.to_s, role: "caregivers" %>
            <div class="actions">
              <%= button_to "Confirm Family", family_people_create_path, params: {role: "caregivers", family_id: result.id}, form_class: "new-thing" %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<!-- search and results to select a friends family -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <h2>Find Your Friends</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 family-person-directions">
      <p>Make sure you know the <i>family name</i> your friend signed up with!</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <small>Search by your friend's <i>family name</i>, usually the surname. For example, Doe for John Doe.</small>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <%= form_tag("/family_people/search", method: "get") do %>
        <%= label_tag(:q, "Search for a family") %>
        <%= text_field_tag(:q) %>
        <%= submit_tag("Search") %>
      <% end %>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <p>Is this the family friend you were looking for?</p>
        <!-- TODO if results else hide -->
      <ul>
        <% @results.each do |result| %>
          <li>
            <%= link_to result.family_name, '/families/' + result.id.to_s, role: "friends" %>
            <div class="actions">
              <%= button_to "Confirm Friend", family_people_create_path, params: {role: "friends", family_id: result.id}, form_class: "new-thing" %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
